// Here you can add other styles

.classAssignmentTabsInner .react-tabs__tab {
    border-radius: 310px;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 10px 25px;
    color: #2E3447;
}

.classAssignmentTabsInner .react-tabs__tab-list {
    text-align: center;
    border: 1px solid #C8C8C8;
    border-radius: 310px;
    padding: 4px 5px;
    align-items: center;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
}

.classAssignmentTabsInner .react-tabs__tab--selected {
    background-color: #7A63FF;
    color: #fff;
    border: none;
}

.react-tabs__tab:focus:after{
    background: none;
}